@import url(./shared/GlobalStyles.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
    margin: 0 auto;
}

body {
    background-color: #18181a;
  
    color: #e40017;
    color: #e36bae;
    color: #fb743e;
    color: rgb(235, 235, 235);
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1 {
    margin: 1em 0 0 0;
    font-size: 3rem;
  }
  
  h2 {
    margin-bottom: 2em;
  }
  
  